<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mozeeb.schoolreport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".user.UserAboutActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".user.peraturan.DetailPeraturan"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.UserProfilActivity" android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.kegiatan.UserTambahKegiatan"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.kegiatan.DetailKegiatan"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.tabDaftar.guru.DetailGuru"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.tabDaftar.siswa.DetailSiswa"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.tabDaftar.guru.InsertGuru"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.berita.UserTambahBerita"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.tabDaftar.siswa.InsertSiswa"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.laporan.UserDetailsLaporan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.berita.UserDetailNewsActivity"
            android:label="@string/title_activity_detail_"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.Splashscreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.laporan.UserTambahActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>